/* For react-select DatePicker  */
.xplorer-date-picker {
    border: 1px solid #E0E0E0 !important;
    color: #68698A;
    padding: 0.5rem 0.75rem; 
    border-radius: 10px  !important; 
  }
  
  .width-12-6 {
    width: 12.6rem !important;
  }
  
  .xplorer-date-picker input {
    color: #68698A !important;
    border: none !important; 
    width: 100%;
  }

  .xplorer-date-picker input:focus {
    outline: none !important; 
    border-color: #E0E0E0 !important;
  }

  .react-date-picker__calendar {
    z-index: 9999 !important; 
  }
  
  .react-date-picker__wrapper {
    border: none !important;
  }
  
  .react-date-picker__button:enabled:hover .react-date-picker__button__icon {
    stroke: #68698A !important;
  }